@model ProyectoUno.Models.Producto

@{
    ViewData["Title"] = "Editar Producto";
}

<h3>Editar</h3>

<h5>Producto</h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" disabled name="id" class="form-control" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descripcion" class="control-label"></label>
                <input asp-for="descripcion" class="form-control" />
                <span asp-validation-for="descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                Año de ingreso
                <input asp-for="annoIngreso" class="form-control" />
                <span asp-validation-for="annoIngreso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="precio" class="control-label"></label>
                <input asp-for="precio" class="form-control" />
                <span asp-validation-for="precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="utilidad" class="control-label"></label>
                <input asp-for="utilidad" class="form-control" />
                <span asp-validation-for="utilidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                Identificador del proveedor
                <select asp-for="@Model.IDProveedor" class="form-select" asp-items="ViewBag.listaProveedores"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Actualizar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
